body {
    min-height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center; 
}

.container {
    text-align: center;
}

.hexColor {
    text-transform: capitalize;
}

.hex {
    font-size: 3rem;
}

.HexBtn {
    color: orangered;
    border: 3px solid orangered;
    border-radius: 7pz;
    background: rgba(0, 0, 0, 0.6);
    font-size: 1.6rem;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    outline: none;
    text-transform: capitalize;
}

.HexBtn:hover {
    background: black;
}